@Scripts.Render("~/bundles/jqueryui")
@{
    ViewBag.Title = "GettingStarted";
}

<h2>Getting Started - Farming As A Business Venture</h2>

<aside>
    <p> @Html.ActionLink("Back to Farming Menu", "Index", "Crops")    </p>
</aside>

<h3>
    <i>So how exactly do you start a farming business ?</i>
</h3>
<p>
    <h3>Business Planning :</h3> It would be wise to create a business plan for any new venture. There are a few points to keep in mind when planning the business:
</p>

<script>
    $(function () {
        $("#accordion0").accordion();
        $("#accordion1").accordion();
    });
</script>

<div id="accordion0">
    <h3><b>Location</b></h3>
    <div>
        <p>
            The location of your farm will have to suit the type of product you wish to produce. The choice is usually determined by space limitations, and the type of
            farming you wish to undertake.  For example:
        </p>
        <blockquote>
            <b><i>
                If you are going to sell Free Range poultry you would have to have enough space for the chickens to roam
                freely.On the other hand chickens that are kept indoors are typically housed in rows of cages, called batteries, and this system requires a great deal of
                equipment and capital outlay.<br /><br />
                If you are planning to produce maize you will have to consider the requirements for that product such as location and climate.
            </i></b>
        </blockquote>

    </div>

    <h3><b>Equipment and Live stock</b></h3>
    <div>
        <p>
            Capital is required to buy livestock, equipment and land. Funds have to be budgeted for to cover buying or leasing of land on which to house the farm in a
            suitable area. The Department of Agriculture’s Mafisa scheme has been launched to fund smaller emerging farmers.
        </p>
    </div>
    <h3><b>Training</b></h3>
    <div>
        <p>
            Sustainable Rural Livelihoods (Livestock) Programme is a research, training and small business programme that addresses the basic issues underlying
            emerging farming systems and SMME Development in product processing and marketing.
        </p>
        <p>
            They provide guidance in areas such as milk products for small-scale farmers, fruit and vegetable industry by-products as feed; goat leather
            production; feasibility studies and business plans for rural entrepreneurs.
        </p>
    </div>

    <h3><b>Market positioning</b></h3>
    <div>
        <p>
            Market positioning is very important and you must consider carefully if:
        </p>
        <ul>
            <li>
                The idea practical, and will it fill a need?
            </li>
            <li>
                What is the competition?
            </li>
            <li>
                What is your business’s advantage over existing poultry farmers?
            </li>
            <li>
                Will you deliver a better quality service?
            </li>
            <li>
                Can you create a demand for your product?
            </li>
        </ul>
    </div>

    <h3><b>Funding: Getting It</b></h3>
    <div>
        <p>
            You need to have financial strength to support your routine production cycle. The Land Bank supports
            resource-poor farmers to become active participants in mainstream commercial agriculture through Agricultural entrepreneurship.
        </p>
        <blockquote>
            <b><i>
                The Bank offers unsecured loans of up to R25 000. These are usually offered to small-scale farmers.
            </i></b>
        </blockquote>
        <p>
            However, it is imperative for the loans must be used for agricultural purposes only.
        </p>
        <p>
            The Land Bank offers short, medium and long term loans as well as Instalment Sale Finance which is a type of medium-term loan where the goods that
            you buy act as the main security for the loan: the goods belong to the Bank until the loan is paid in full. It enables all farmers, especially
            those with limited assets to grow their businesses.
        </p>
        <p>
            This finance package is available for periods between 3 and 10 years, depending on the expected length of life of the asset. Payments can be made
            on a monthly, quarterly, six-monthly or annual basis. An individual farmer or a group or any legal entity may access this type of loan.
            <br />
            <strong></strong>
        </p>
    </div>
    
    <h3><b>Funding: Farms outside South Africa’s borders</b></h3>
    <div>
        <p>
            Approach Alliance for a Green Revolution for Africa (AGRA). If they cannot help, they may well be able to guide you to an organisation that can.
        </p>
        <p>
            AGRA’s programs and partnerships work to make changes across various agricultural systems. Integrated programs in seeds, soils, market access,
            policy and partnerships, and innovative finance help to transform various subsistence agri-businesses into sustainable, viable commercial
            activities.
        </p>
        <p>
            One example is found in the Southern Highlands of Tanzania, where 700 000 smallholder farmers produced a record maize harvest in 2009, helping to
            feed drought-stricken regions of the country.
        </p>
    </div>
    
    <h3><b>Crops</b></h3>
    <div>
        <p>
            In South Africa, only about 12% of the country can be used for crop production. High-potential arable land comprises only 22% of total arable land.
            Therefore you need to find out what crops would be suitable for the farm you have. This depends on soil type, water supply and a host of other
            considerations. Contact the Department of Agriculture, Forestry and Fisheries for more information.
        </p>
    </div>

    <h3><b>Legislation</b></h3>
    <div>
        <p>
            Before you go ahead and start farming check details of any legislation and regulations governing the industry, product and production processes.
            Consult with the local municipal authorities to ensure that the land is zoned for farming and that there are no by laws that could affect the farm
            negatively.
        </p>
        <blockquote>
            <p>
                Register the business with SARS so that you are compliant with tax and labour legislation.
            </p>
        </blockquote>
    </div>

    <h3><b>Planning Stages: Business plan</b></h3>
    <div>
        <p>
            To start any business, whether it is a farm or a factory, you must prepare a business plan. Information in each section of the business plan should
            be concise and include an evaluation of the strengths, weaknesses, opportunities and threats that may apply.
        </p>
    </div>

    <h3><b>Planning Stages: Production plan</b></h3>
    <div>
        <p>
            Every farm is unique, in terms of location, soil quality, labour requirements and so on. The business plan must therefore include a “production
            plan”. This encompasses all the details explaining how your farm operates and what products it will produce for market.
        </p>
        <p>
            The production plan includes such things as land, buildings, equipment, supplies and processes, as well as laws and regulations that influence the
            business. Production is the core income-producer for a farm, so this section must be very detailed. You will need to do extensive research into the
            capabilities of your land, the type of farming you choose, market requirements and the buyers in your area.
        </p>
    </div>

    <h3><b>Equipment</b></h3>
    <div>
        <p>
            Within the business plan, you must include the cost of equipment and storage facilities. These are needed for storing feed and the plants that are
            produced. For example, cow manure is a good fertilizer for crops but needs to be stored.
        </p>
        <p>
            If you run a dairy farm, you can milk the cows by hand. However, having automated milking equipment can cut the time required to produce milk.
        </p>
    </div>

    <h3><b>Finance</b></h3>
    <div>
        <p>
            Commercial banks offer a wide range of finance, investment and risk management solutions across a diverse range of agribusiness products and
            services for the agricultural value chain. The Land Bank of South Africa is an agricultural development finance institution that supports economic
            growth through the provision of retail, wholesale, project and micro-financial services to agriculture and related rural services.
        </p>
        <p>
            It offers long, medium and short-term loans. Alternatively, click here to find out more about the various financing options available to you.
        </p>
    </div>

    <h3><b>Agricultural Research Council (ARC)</b></h3>
    <div>
        <p>
            The ARC offers a number of training courses which include: Pig production, beef cattle management,
            small stock management, poultry production and meat processing.
        </p>
        <p>
            Other courses offered by other institutions of <a href="http://www.arc.agric.za/" target="_blank">ARC</a> are:
        </p>
        <ul>
            <li>
                Grain Crops Institute – Maize and dry beans
            </li>
            <li>
                Plant Protection Institute – Bee keeping.
            </li>
            <li>
                Vegetable and Ornamental Plants -Vegetable hydroponics.
            </li>
            <li>
                Fruit, Vine and Wine Institute – Preserving of fruit
            </li>
        </ul>
    </div>

</div>

<br />
<br />

<div id="accordion1">

    <h3><b>Organisations</b></h3>
    <div>
        <p>
            <a href="http://www.daff.gov.za/" target="_blank">Department of Agriculture, Forestry and Fisheries</a>
            <br />
            Postal: Private Bag x250, Pretoria, 0001
            <br />
            Tel: +27 12 319 6000
        </p>
        <p>
            SA Poultry Association
            <br />
            PO Box 1202, Honeydew 2040.
            <br />
            Tel: +27 11 795 2051/2
            <br />
            E-mail: <a href="mailto:sapa@pixie.co.za">sapa@pixie.co.za</a>
        </p>
        <p>
            Poultry Reference Laboratory
            <br />
            University of Pretoria, Private Bag X04, Onderstepoort 0110
            <br />
            Tel: +27 12 529 8224
            <br />
            E-mail: <a href="mailto:ademeil@op.upp.ac.za">ademeil@op.upp.ac.za</a>
        </p>
        <p>
            KwaZulu-Natal Poultry Institute
            <br />
            Tel: +27 33 346 0049
            <br />
            E-mail: <a href="mailto:kznpi@mweb.co.za">kznpi@mweb.co.za</a>
        </p>
        <p>
            Irene Animal Improvement Institute, Advisory Services,
            <br />
            PO Box X2, Irene 0062
            <br />
            Tel: +27 12 672 9239
            <br />
            E-mail: <a href="mailto:noel@iapi.agric.za">noel@iapi.agric.za</a>
        </p>

    </div>

    <h3><b>Agricultural Sites</b></h3>
    <div>
        <p>
            <strong></strong>
            These websites can help regarding agriculture:
        </p>
        <ul>
            <li>
                Agriculture SA
            </li>
            <li>
                Technology for the Farmer
            </li>
            <li>
                National Department of Agriculture
            </li>
            <li>
                Equipment: <a href="http://www.agriworldsa.com/" target="_blank">www.agriworldsa.com </a>
            </li>
            <li>
                Live Stock: <a href="http://www.agriworldsa.com/" target="_blank">www.agriworldsa.com</a>
            </li>
            <li>
                Agricultural Research Council
            </li>
            <li>
                Agri Eastern Cape
            </li>
            <li>
                Agri South Africa
            </li>
            <li>
                Arid Areas Programme
            </li>
            <li>
                Citrus Growers Association
            </li>
            <li>
                Deciduous Fruit Producers Trust
            </li>
            <li>
                Eastern Cape Department of Agriculture and Rural Development
            </li>
            <li>
                Mohair South Africa
            </li>
            <li>
                National Department of Agriculture, Forestry and Fisheries
            </li>
            <li>
                Organic Agricultural Association of South Africa
            </li>
            <li>
                Perishable Products Export Control Board
            </li>
        </ul>
    </div>
</div>