@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3> Address</h3>
    </header>
        <p>
            <span class="label">Physical:</span>
            <font color="blue">
                <br />Farm Book<br />
                16 Forrest Road, Camps Bay, Cape Town<br />
            </font>
        </p>
        <p>
            <span class="label">Postal:</span>
            <font color="blue">
                <br />Farm Book<br />
                University of Cape Town<br />
                Private Bag X114<br />
                CAPE TOWN, 7700
            </font>
        </p>
</section>

<section class="contact">
    <header>
        <h3> Tele-Phone</h3>
    </header>
    <p>
        <span class="label">Landline:</span>
        <span>(+27) 020-502-3157</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>(+27) 0723-689-920</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
        <p>
            <span class="label">General Queries:</span>
            <span><a href="mailto:info@farmbook.com">info@farmbook.com</a></span>
        </p>
        <p>
            <span class="label">Technical Assistance:</span>
            <span><a href="mailto:technical@farmbook.com">technical@farmbook.com</a></span>
        </p>
</section>